.main_content
  .panel-heading
    %h2= @shoe.title
    .image-wrapper
      = image_tag @shoe.feat_img.url('medium')
  .panel-body
    %p= @shoe.description.html_safe


= link_to 'Edit', edit_admin_shoe_path(@shoe) 
= link_to 'Back', admin_shoes_path

